.carousel .control-dots {
  bottom: 0.625rem; /* Adjust position */
}

.carousel .control-dots .dot {
  background-color: #d1fae5; /* Change dot color */

  margin: 0 0.5rem; /* Adjust spacing */
  border-radius: 50%; /* Make it circular */
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.carousel .control-dots .dot.selected {
  background-color: #059669; /* Highlight active dot */
  transform: scale(1.3); /* Make active dot larger */
}
