@tailwind base;
@tailwind components;
@tailwind utilities;

html,
button,
input,
optgroup,
select,
textarea {
  font-family: 'Inter', sans-serif;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}




