# .NET Core build folders
bin/
obj/

# Common node modules locations
node_modules/
wwwroot/node_modules

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Ll]og/

# Ignore test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet Packages
*.nupkg
*.nuget/
packages/
project.assets.json

# Security and Environment Files
.env
.secrets/
secrets.json

# Ignore compiled binaries
*.dll
*.exe
*.pdb
*.log
*.cache

# Ignore Rider / JetBrains settings
.idea/
*.sln.iml
_ReSharper*/

# Ignore Python caches
__pycache__/
*.pyc

# Ignore other temporary files
*.tmp
*.pidb
*.svclog
*.cr
.ntvs_analysis.dat
firebasekey.json
googleauth.json
facebookkey.json